/dist
/cmd/client/client
/cmd/server/server
*.exe
*.zip
.vscode
/.idea/
/docs
/scripts/*
!/scripts/anytls-install_server.sh
scripts/**/*.log
scripts/**/*.tmp
scripts/**/tmp/
/.gocache/
/.gocache_local/
/cmd/client/webui/node_modules/
/cmd/client/webui/dist/
/.DS_Store
/server
/.gocache_test/
/.gomodcache/
/client
